/*  Seccion de Quienes somos  */
.somos {
    background-image: url("../assets/img/img_01.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5% 3% 7% 8%;
    text-align: center;

    .somos__titulo {
        font-size: 3rem;
        text-align: center;
        line-height: 3rem;
        color: $blanco;
        text-shadow: 0px 0px 5px $negro;
    }

    .somos__desc {
        color: $blanco;
        font-size: 1.5rem;
        text-shadow: 0px 0px 5px $negro;
        width: 75%;
        margin: 0 auto;
    }

}


.reel {
    padding: 3% auto;
    margin: 3% auto;

       #reel__desc {
        #tituloReel {
            text-align: left;
        }
       }
}



#servicios {
    background-color: $grisClaro;
    padding: 2% 0%;

    .servicios__recServicio {
        width: 100%;
        background-color:$blanco;
        padding: 1% 2% 3% 2%;
        border-radius: 25px;
        text-align: center;
        margin: 20px 0px;
    
        .servicios__recServicio h2 {
            font-size: 1.5rem;
        }
    
    }
}

$botones: ( /*Declaramos nuestro mapa*/
serv1: #55acee,
serv2: #3a5795,
serv3: #ba007c
);
/*Creamos el bucle para usar los valores del mapa*/
@each $boton, $color in $botones {
.btn-verMas--#{$boton} {
background-color: $color;
@extend .btn-verMas;
}
}

#clientes {
    padding: 2% 4%;

    #clientes__cont {
        width: 80%;
        height: auto;
        margin: 0 auto;

        .clientes__art{
            margin: 0;
        }

    }
}


#cotizar {
    background-color:$azulClaro;
    color:$blanco;
    padding: 4% 4%;
    text-align: center;
    font-size: 30px;
    font-weight: 300;

    #cotizar__link {
        color: $blanco;
        text-decoration: none;
        background-color:$azulOscuro;
        padding: 1% 4%;
        border-radius: 15px;
        display: inline-block;
        margin-top: 30px;
        width: 45%;
    }

}
