$blanco:#ffffff;
$negro:#000000;
$azulClaro:#516ba5;
$grisClaro:#dddddd;
$azulOscuro:#172a67;
$azulMuyOscuro:#03142b;
$grisMedio:#6a6a6a;
$azulMuyClaro:#74abd6;
$azulBrillante:#2eb9ff;

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin sizes($width, $height) {
    width: $width;
    height: $height;
    }



body{
    .btn-verMas {
        padding: 3% 4%;
        @include sizes(90%,auto);
        display: inline-block;
        border-radius: 10px;
        color: $blanco;
        text-decoration: none;
        font-weight: 600;
        text-align: center;
        margin: 0 auto 20px auto;
    }
    
    .btn-verMas--index {
        padding: 1% 4%;
        width: 40%;
        background-color: $azulClaro;
        display: inline-block;
        border-radius: 10px;
        color: $blanco;
        text-decoration: none;
        font-weight: 600;
        margin: 50px auto 20px auto;
    }
    .titulos {
        font-size: 45px;
        color: $grisMedio;
        text-align: center;
    }
    
    .titulos--blanco {
        font-size: 45px;
        color: $blanco;
        text-align: center;
        text-shadow: 0px 0px 5px #000000;
    }

    .al-centro {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .centrado{
        text-align: center;
    }

    .videoResponsivo {
        position: relative;
        padding-bottom: 56.25%;
        /* 16/9 ratio */
        padding-top: 30px;
        /* IE6 workaround*/
        height: 0;
        overflow: hidden;

        iframe, object, embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    }

}


@import "cabeza";
@import "inicio";
@import "footer";
@import "quienes";
@import "servicios";
@import "portafolio";
@import "contacto";
@import "animaciones";
@import "ajustesResponsivo";
